/* CONTACT FORM */

#form-wrapper
02
{
03
    width: 700px;
04
    height: 400px;
05
    margin: 0 auto;
06
    padding: 20px;
07
    position: relative;
08
    border: 1px solid #ddd;
09
 
10
    background-color: #fff;
11
    background-image: -moz-repeating-linear-gradient(135deg,#844049,#844049,
12
                                                            #fff 50px, #fff 150px,
13
                                                            #3e4996 100px, #3e4996,
14
                                                            #fff 200px, #fff 300px);
15
 
16
    background-image: -webkit-gradient(linear, left top, right bottom,
17
                                                           color-stop(5%, #fff), color-stop(5%, #fff),
18
                                                           color-stop(15%, #844049), color-stop(15%, #fff),
19
                                                           color-stop(25%, #fff), color-stop(25%, #fff),
20
                                                           color-stop(35%, #3E4996), color-stop(35%, #fff ),
21
                                                           color-stop(45%, #fff), color-stop(45%, #fff),
22
                                                           color-stop(55%, #844049), color-stop(55%, #fff),
23
                                                           color-stop(65%, #fff), color-stop(65%, #fff),
24
                                                           color-stop(75%, #3E4996), color-stop(75%, #fff ),
25
                                                           color-stop(85%, #fff), color-stop(85%, #fff),
26
                                                           color-stop(95%, #844049), color-stop(95%, #fff));     
27
 
28
    background-image: -webkit-repeating-linear-gradient(135deg,#844049,#844049,
29
                                                            #fff 50px, #fff 150px,
30
                                                            #3e4996 100px, #3e4996,
31
                                                            #fff 200px, #fff 300px);  
32
 
33
    background-image: -o-repeating-linear-gradient(135deg,#844049,#844049,
34
                                                            #fff 50px, #fff 150px,
35
                                                            #3e4996 100px, #3e4996,
36
                                                            #fff 200px, #fff 300px);
37
 
38
    background-image: -ms-repeating-linear-gradient(135deg,#844049,#844049,
39
                                                            #fff 50px, #fff 150px,
40
                                                            #3e4996 100px, #3e4996,
41
                                                            #fff 200px, #fff 300px);
42
 
43
    background-image: repeating-linear-gradient(135deg,#844049,#844049,
44
                                                            #fff 50px, #fff 150px,
45
                                                            #3e4996 100px, #3e4996,
46
                                                            #fff 200px, #fff 300px);
47
}
48
 
49
#form-wrapper:before, #form-wrapper:after
50
{
51
    z-index: -1;
52
    position: absolute;
53
    content: "";
54
    bottom: 15px;
55
    left: 10px;
56
    width: 50%;
57
    top: 80%;
58
    max-width:300px;
59
    background: rgba(0, 0, 0, 0.7);
60
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
61
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
62
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
63
    -webkit-transform: rotate(-3deg);
64
    -moz-transform: rotate(-3deg);
65
    -o-transform: rotate(-3deg);
66
    -ms-transform: rotate(-3deg);
67
    transform: rotate(-3deg);
68
}
69
 
70
#form-wrapper:after
71
{
72
    -webkit-transform: rotate(3deg);
73
    -moz-transform: rotate(3deg);
74
    -o-transform: rotate(3deg);
75
    -ms-transform: rotate(3deg);
76
    transform: rotate(3deg);
77
    right: 10px;
78
    left: auto;
79
}
